# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly set text files
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
